Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
* Python
* R
* SQL
* Scala
* java

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languanges that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* Matplotliv
* Seaborn
* Scikit-learn

Exercise 6 - Create a markdown cell with a table of Data Science tools

|  Data Science Tools  |
| ---------------------|
| Jupter               |
| Jupyterlab           |
| Apache Zepellin      |
| R studio             |
| Spyder               |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
#This is simple arithmetic expression to multiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [17]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Alexander Arnanto Mulyo Widigdo